<div class="hero-wrap hero-bread" style="background-image: url('<%= asset_path('bg_1.jpg') %>');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><%= link_to "Home", root_path %></span> <span>Blog</span></p>
        <h1 class="mb-0 bread">Blog</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">
        <div class="row">
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_1.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_2.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_3.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_4.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_5.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch d-md-flex">
              <a href="#" class="block-20" style="background-image: url('<%= asset_path('image_6.jpg') %>');"></a>
              <div class="text d-block pl-md-4">
                <div class="meta mb-3">
                  <div><a href="#">July 20, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p><a href="#" class="btn btn-primary py-2 px-3">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
      
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box">
          <%= form_with url: pages_blog_path, method: :get, local: true, class: "search-form" do |f| %>
            <div class="form-group">
              <span class="icon ion-ios-search"></span>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
            </div>
          <% end %>
        </div>
        
        <div class="sidebar-box ftco-animate">
          <h3 class="heading">Categories</h3>
          <ul class="categories">
            <li><%= link_to "Vegetables", shop_path(collection: "vegetables") %> <span>(12)</span></li>
            <li><%= link_to "Fruits", shop_path(collection: "fruits") %> <span>(22)</span></li>
            <li><%= link_to "Juice", shop_path(collection: "juice") %> <span>(37)</span></li>
            <li><%= link_to "Dried", shop_path(collection: "dried") %> <span>(42)</span></li>
          </ul>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading">Recent Blog</h3>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(<%= asset_path('image_1.jpg') %>);"></a>
            <div class="text">
              <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(<%= asset_path('image_2.jpg') %>);"></a>
            <div class="text">
              <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(<%= asset_path('image_3.jpg') %>);"></a>
            <div class="text">
              <h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> April 09, 2019</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading">Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">fruits</a>
            <a href="#" class="tag-cloud-link">tomatoe</a>
            <a href="#" class="tag-cloud-link">mango</a>
            <a href="#" class="tag-cloud-link">apple</a>
            <a href="#" class="tag-cloud-link">carrots</a>
            <a href="#" class="tag-cloud-link">orange</a>
            <a href="#" class="tag-cloud-link">pepper</a>
            <a href="#" class="tag-cloud-link">eggplant</a>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3 class="heading">Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
        </div>
      </div>

    </div>
  </div>
</section>
